@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Miles's Car parts</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Miles's Car Parts!</h2>
        <p>
            We sell car parts. Good ones, too!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Order em' all!</h2>
        <p>You can order multiple parts at a time.</p>
        <p><a class="btn btn-default" href="google.com">Look for parts somewhere else... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track your order</h2>
        <p>You can access order information at anytime to see if your part is actually coming. Probably not though...</p>
        <p><a class="btn btn-default" href="Google.com">Seriously, start looking somewhere else... &raquo;</a></p>
    </div>
</div>